body{
    background-color:burlywood;
}
.header{
    width: 1280px;
    position: fixed;
    top: 0px;
    bottom: 0px;
}
/* kode css navigator */
ul{
    list-style: none;
    background-color: bisque;
    padding: 0px 0px;
    margin: 120px 0px;
    position: fixed;
    width: 1280px;
    height: 70px;
}
ul li{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}
ul li a{
    padding: 10px 0px;
    text-align: center;
}
ul a:hover{
    background-color: brown;
}
/* kode css dropdown */
ul li ul.dropdown{
    background-color: coral;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}
ul li:hover ul.dropdown{
    display: block;
}
/* kode css side bar */
.test{
    display: flexbox;
}
.column{
    float: left;
    padding: 0px 10px;
}
/* LEFT COLUMN */
.column.side{
    margin: 190px 0px;
    width: 255px;
    height: 400px;
    background-color: brown;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
.galeri{
    padding-bottom: 5px;
}
/* Kode css middle bar */
.column.middle{
    margin: 190px 0px;
    width: 100%;
    height: 100vh;
    background-color:crimson;
    color: black;
}
/* kode footer */
.Footer{
    width: 1280px;
    position: fixed;
    margin: 550px 0px;
}
h2{
    color:black;
}